.places__paragraph {
    line-height: 1.6;
    height: max-content;
    margin: 0;
}

.places__paragraph:last-of-type {
    grid-area: paragraph2;
}

.places__paragraph:first-of-type {
    grid-area: paragraph1;
}

@media (min-width: 320px) {
    .places__paragraph {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .places__paragraph:last-of-type {
        margin: 24px 16px 0 16px;
    }
    .places__paragraph:first-of-type {
        margin: 32px 16px 0 16px;
    }
}

@media (min-width: 1024px) {
    .places__paragraph {
        font-size: 18px;
    }
}