.cover__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0;
    transform: translate(-50%, -50%);
}

@media (min-width: 320px) {
    .cover__wrap {
        width: 15rem;
    }
}

@media (min-width: 768px) {
    .cover__wrap {
        width: 32rem;
    }
}