.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
} 

@media (min-width: 1024px) {
    .lead {
        margin: 0 48px auto;
    }
}

@media (min-width: 1180px) {
    .lead {
        margin: 0 100px auto;
    }
}