.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("../../images/cover-trains.jpg");
    width: 100%;
    background-size: contain;
    height: calc(0.625 * 100vw);
    max-height: 740px;
}