.place:last-of-type {
    padding-bottom: 92px;
}

@media (min-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header link"
            "image paragraph1"
            "image paragraph2";    
        grid-template-rows: max-content max-content min-content;
        grid-gap: 48px 28px;
    }
}